*{
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
}

html { 
  background: url(/background.webp) no-repeat bottom center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}